.conteiner {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #f8f3f252;
    padding: 10px;
}

.link {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.link.active {
    font-weight: bold;
}