.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../../images/map.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15px 0 0 0;
}

.selects {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 30px;
}

.select {
    width: 150px;
    height: 30px;
    margin: 0 20px;
}

.order {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.paginado{
    width: 100%;
    margin: 0 20px 0 0;
}
