*{
    margin: 0;
    padding: 0;
}

.container {
    /* background-image: url('https://www.youtube.com/watch?v=J6xMxFboPJc'); */
    background: #dfe9f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}