*{
    margin: 0;
    padding: 0;
}

.container {
    /* width: 100vw;
    height: 100vh;
    background: #dfe9f1; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}


.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}