.container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.card {
    width: 250px;
    height: 300px;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #92877d34;
}

.image {
    width: 90px;
    height: 60px;
}