.container {
    width: 160px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}


.card {
    width: 100%;
    height: 100%;
    background-color: #eceeef87;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.link {
    text-decoration: none;
    cursor: pointer;
}


.image {
    width: 100%;
    height: 50%;
}

.properties{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}