.container{
    width: 100vw;
    height: 100vh;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}