.conteiner {
    width: 100vh;
    height: 80px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    width: 200px;
    height: 30px;
    border-radius: 30px;
    margin: 5px 30px;
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 30px;
}