.container{
    width: 100vw;
    height: 10%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagSignal {
    margin: 0 5px;
}

.pagNumber {
    margin: 0 5px;
}